fastapi>=0.116.1
uvicorn>=0.35.0
langchain>=0.3.27
langgraph==0.3.1
langchain-openai>=0.3.29
langchain-google-genai>=2.1.9
python-dotenv>=1.1.1
beautifulsoup4>=4.13.4
pymed>=0.8.9
lxml>=6.0.0
firebase-admin>=7.1.0
itsdangerous>=2.2.0
pubmed>=0.0.2.post0
pubmed-lookup>=0.2.3
passlib[bcrypt]>=1.7.4
python-jose>=3.3.0
pydantic[email]>=2.11.7
gradio>=4.44.0
requests>=2.31.0
